/**************elementos globales*******************/
.glass{
  background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#vidrio
{
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 10px;
}



*{
    padding: 0;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}
html{   
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;   
   
}
.container section{
    position: relative;
    width: 100%;  height: 100vh;
 /*   line-height: 100vh; */
}

.container section h1{
   text-align: center;
   font-size: 70px;
   text-transform: uppercase;
}

/**********loading **************** */
.loading
{
  text-align: center;
}

.loading img {
  padding: 25%;
}


/***********************Diseño del menu ******************* */
.menu{
    position: fixed;
    top: 0;  left: 0;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;  height: 60px;
    z-index: 10;
}
.menu li{
    list-style: none;
    width: calc(100% / 5);  height: 100%;
    float: left;
}
.menu li a{
    display: inline-block;
    width: 100%;  height: 100%;
    text-align: center;  line-height: 60px;
    text-decoration: none;  text-transform: uppercase;
    color: rgb(13, 13, 14);
}
.menu li a:hover{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
/* ************************************animaciones********************/
#letter_welcome 
{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    font-family: "Courier New";
    border-right: 0.15em solid #18bdec;
    color: white;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #sec1{
    animation: myAnim 1s ease 0s 1 normal forwards;
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .bird
  {
    z-index: 1;
    position: absolute;
    animation: vuelo 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate-reverse both;
  }

  @keyframes vuelo {
    0% {
      transform: translateY(0);
      
    }
    100% {
      transform: translateY(-100px);
    }
  }


  

/* **********************************seccion 1******************** */
#sec1{
  background: url("../images/cielo.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 #sec1 .container-fluid .row .col-sm-6 >p
 {
  text-align: justify;
  color: white;
 }

 #sec1 .container-fluid .row .col-sm-6 >.img-fluid
 {
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 @keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}




/************************seccion 2******************************/
#sec2{
  background: url("../images/oeste.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************seccion 3******************************/
#sec3{
  background: url("../images/fondosec3.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************* Responsividad en dispositivos ********  */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{

  .container section 
  {
    height: auto;
  }
  .containermovil
  {
    display:block !important;
  }
  .menu
  {
     display: none;
  }

  #vidrio
  {
    margin: 0px;
  }


}

/* ******   menu movil *************   */
#btn-mas{
  display: none;
}
.containermovil{
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
}
.redes a, .btn-mas label{
  display: block;
  text-decoration: none;
  background: #cc2b2b;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}
.redes a:hover{
  background: #fff;
  color: #cc2b2b;
}
.redes a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked~ .redes a{
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label{
  cursor: pointer;
  background: #f44141;
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
  transform: rotate(135deg);
  font-size: 25px;
}
